<!doctype html>
<html lang="en">
  <head> 

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Quiz Source</title>
	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

    <style>
    	.is-loading { background: cyan; }
    </style>
  </head>


  <body>
  	<div class="container shadow" align="center">
		<div id="app">
		<div>
		  <h1 id="virsraksts">Awesome test Quiz</h1>
		</div>

		  <div v-for="(question, index) in quiz.questions">
		    <div v-show="index === questionIndex">
		      <h2 id="jautajums">{{ question.text }}</h2>
		        <div class="row">
		     
			      	<ul>
			      	    <li class="col-sm-12 col-md-12 col-lg-6" v-for="(response, index2) in question.responses">
				        	<div class="btn-group btn-group-toggle" >
					          <label class="btn btn-success btn-block question-b" >
					            <input type="radio" 
					                   v-bind:value="response.correct" 
					                   v-bind:name="index"
					                   v-bind:id="index2"
					                   v-bind:class="{ active: isActive }"
					                   v-model="userResponses[index]"
					                   @click="select();next();roundProg()"
					                   checked> {{response.text}}

					          </label>
				      		</div>
			        	</li>
			      	</ul>
			   
  		      	<div class="progress">
					<div class="progress-bar bg-success" role="progressbar" :style="{ width: myWidth + '%' }" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">{{prog}}%</div>
				</div>
		      </div>
		      
		      <button type="button" class="btn btn-primary btn-sm" v-if="questionIndex > 0" v-on:click="prev();roundProg()">
		        Previous Question
		      </button>
		   <!--    <button type="button" class="btn btn-primary btn-sm" v-on:click="next();roundProg()">
		        Next Question
		      </button> -->
		    </div>
		  </div>
		  <div v-show="questionIndex === quiz.questions.length">
		    <h2>
		    You did Amazing job {{quiz.user}}!!!
		  </h2>
		    <p>
		      Total score: {{ score() }} / {{ quiz.questions.length }}
		    </p>
		  </div>
		</div>
	</div>

    <script src="main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </body>
</html>